@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://zip.catci.net/catci.net/fonts/woff2/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WW pencil';
    src: url('https://zip.catci.net/catci.net/fonts/woff2/WW-Pencil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MS-UI-Gothic';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/MS-UIGothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'emojifont';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/EmojiFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sevensegment';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/seven-segment.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nothing';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/nothing-font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raphigrafie';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/Raphigrafie-1VEZ.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'emojisymbols';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/EmojiSymbols-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lineal';
    src: url('http://zip.catci.net/catci.net/fonts/woff2/Lineal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixel';
    src: url('https://zip.catci.net/catci.net/fonts/woff2/Pixel_NES.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aperture';
    src: url('https://zip.catci.net/catci.net/fonts/woff2/Univers75.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marker';
    src: url('https://zip.catci.net/catci.net/fonts/woff2/MarkerMark-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
